@font-face {
    font-family: 'Nova Round';
    src: url('NovaRound.woff2') format('woff2'),
        url('NovaRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

